version: '3'
services:
  dummy-service:
    image: localhost:5000/dummy-spring-boot-app
    container_name: dummy-service
    restart: on-failure
    environment:
      SPRING_APPLICATION_NAME: dummy-service
      SPRING_CONFIG_IMPORT: configserver:http://config-server:8080
    ports:
      - "9010:8080"
    networks:
      backend:
        aliases:
          - "dummy-service"
    healthcheck:
      test: "wget --no-cache --spider http://localhost:8080/actuator/health || exit 1"
      interval: 5s
      timeout: 10s
      #      start_period: 10s
      retries: 10

  user-service:
    image: localhost:5000/user-spring-boot-app
    container_name: user-service
    restart: on-failure
    ports:
      - "9020:8080"
    networks:
      backend:
        aliases:
          - "user-service"
    healthcheck:
      test: "wget --no-cache --spider http://localhost:8080/actuator/health || exit 1"
      interval: 5s
      timeout: 10s
      #      start_period: 10s
      retries: 10

networks:
  backend:
    name: backend_network
    external: true
